

body {
  background-image: url('images/stefan-kunze-16849.jpg');
  background-size: 100% auto;

}

h1 {
  margin: 0;
  padding: 10px;
  font-size: 40px;

}

h2 {
  padding: 10px;
  margin: 5px;
}

h3 {
  font-size: 25px;
}

img {
  height: 200px;
  width: auto;
}

button {
  font-size: 18px;
}

.title {
  text-align: center;
  font-family: MedievalSharp, sans-serif;
}

.title h2 {
  font-size: 30px;
}

.characters img {
  height: 50px;
  width: auto;
}

.character {
  align-content: center;
  display: flex;
  flex-direction: row;
}

.winner-box {
  height: 50px;
}

.lane {
  height: 250px;
  vertical-align: middle;
}

.character{
  margin-left: 0px;
}


.throne {
  justify-content: flex-end;
  display: flex;
  height: 100px;
}


#throne {
  margin-top: -196px;
  height: 400px;
  margin-right: -140px;
  z-index: -1;
}
